%h1 Thank you
%p We have received your request for an invitation to dunzoapp.com.
%p We'll contact you when we launch.
%p Share your discovery with your friends!
#tweet{:style => "display:inline-block;"}
  %a.twitter-share-button{"data-count" => "horizontal", "data-related" => "dunzoapp", "data-text" => "A new site I've discovered", "data-url" => "http://dunzoapp.com", "data-via" => "dunzoapp", :href => "https://twitter.com/share"}
%span{:style => "display:inline-block; vertical-align:text-bottom;"}
  .fb-like{"data-href" => "http//dunzoapp.com", "data-layout" => "button_count", "data-send" => "false", "data-show-faces" => "false", "data-width" => "90"}
.g-plusone{"data-annotation" => "inline", "data-href" => "http://dunzoapp.com", "data-size" => "medium", "data-width" => "120"}
