.date-switcher
  %a.btn{:href => username_list_path(@user.slug, @list.uid, date: @date.prev_day)}
    %i.icon-chevron-left
  %a.btn{:href => username_list_path(@user.slug, @list.uid)}
    Today
  %a.btn{:href => username_list_path(@user.slug, @list.uid, date: @date.next_day)}
    %i.icon-chevron-right
