.date-switcher
  %a.btn{:href => username_category_path(@user.slug, date: @date.prev_day)}
    %i.icon-chevron-left
  %a.btn{:href => username_category_path(@user.slug, @category.category_uid)}
    Today
  %a.btn{:href => username_category_path(@user.slug, date: @date.next_day)}
    %i.icon-chevron-right
