.btn-toolbar.date-switcher.month-switcher
  .btn-group
    %a.btn{:href => "#{user_path(current_user, date: @date.prev_month)}"}
      %i.icon-chevron-left
    %a.btn{:href => "#{user_path(current_user, date: @date.next_month)}"}
      %i.icon-chevron-right
