.month-switcher
  %a.pull-left{:href => username_list_path(@user.slug, @list.uid, date: @date.prev_month)}
    %i.icon-chevron-left
  = @date.strftime("%B")
  %a.pull-right{:href => username_list_path(@user.slug, @list.uid, date: @date.next_month)}
    %i.icon-chevron-right
