- if task.date == @date
  = form_for ([category, task]), remote: true do |f|
    = f.check_box :complete
    = f.label :name, task.name
    = link_to "x", category_task_path(category, task), class: "delete-task pull-right", |
    :method => :delete, remote: true
