:javascript
  //device check
  var isMobile = false;

  if( navigator.userAgent.match(/Android/i) ||
    navigator.userAgent.match(/webOS/i) ||
    navigator.userAgent.match(/iPhone/i) ||
    navigator.userAgent.match(/iPad/i)||
    navigator.userAgent.match(/iPod/i) ||
    navigator.userAgent.match(/BlackBerry/i)){
      isMobile = true;
  }
  //epic fullscreen
  $(window).load(function(){
     $('.epicFullscreen').epicFullscreen({
      opacity:0.9,
      background:'#000',
      pattern:true,
      callback: function(){
        $('#featured').animate({opacity:1},500);
      }
     });
  });
   //twitter
   !function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0];if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src="https://platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");

