#wrapper
  %header
    .container
      .row-fluid
        #intro.span5
          %h1
            Daily to-do lists made simple.
          %h2 
            Dunzo is a web app for easily creating lists to help keep track of your daily routine.
          %p.clear
            %b 
              Completely free.
            Access from any workspace or device.
          %p
            %a.btn{:href => new_user_registration_path } Create Account
            %a.btn.outline{:href => new_user_session_path }Log in
      #computer
        =image_tag "computer.png"
  #features.container
    .row-fluid
      .span4
        .padding
          =image_tag "features-organize.png"
          %h3
            Stay on track
          %p
            Organize your daily routine and get things done by creating simple checklists.
      .span4
        .padding
          =image_tag "features-collaborate.png"
          %h3
            Collaborate
          %p
            Share lists with anyone, enabling you to collaborate at work or home.
      .span4
        .padding
          =image_tag "features-access.png"
          %h3
            Access anywhere
          %p
            Use a computer, tablet, or smartphone to access your lists in any web browser.
  #footer.container
    .row-fluid
      .span12
        %p
          &copy Dunzo 2013. All rights reserved.