%div{:role => "main"}
  %header#home-head{:style => "height: 849px;"}
    .container
      .row.intro.appear{:style => "top: 332.5px; margin-top: 50px;"}
        .span12
          %h1
            %span Easily create daily to-do lists.
            Access on any device from anywhere.
          %p.tagline.clear{style: 'text-align:center;'}
            %span Get started by creating your free account today.
