#homeimage
#wrapper
  %header
    .intro
      %h1
        Daily to-do lists made simple.
      %h2 
        Dunzo is a web app for easily creating lists to help keep track of your daily routine.
      %p.clear
        %b 
          Completely free.
        Access from any workspace or device.
      %p
        %a.btn{:href => new_user_registration_path } Create Account
        %a.btn.outline{:href => new_user_session_path }Log in
    #computer