.row-fluid
  .dialog.span4.offset4
    .block
      %p.block-heading Confirmation
      .block-body
        %h2 Thank you for signing up!
        %p
          We will let you know when we launch. For quicker access, simply
          %a{:href => "http://twitter.com/share?url=http://dunzoapp.com&text=I just signed up for @dunzoapp! &hashtags=dunzo", :title => "@dunzoapp"} mention us
          on Twitter!
      .modal-footer
        %a.btn{:href => "https://www.facebook.com/dunzoapp", target: "_blank"}
          %i.icon-facebook
          Facebook
        %a.btn{:href => "https://twitter.com/dunzoapp", target: "_blank"}
          %i.icon-twitter
          Twitter
