@import "bootstrap/variables";
@import "bootstrap/mixins";

.calendar {
  border-collapse: collapse;
  width: 100%;

  td, th {
    @include font-size(0.6rem);
    font-family: "Lucida Grande", arial, helvetica, sans-serif;
    padding: 6px;
  }

  th {
    color: #666;
    text-align: center;
    width: 14%;
  }

  td {
    height: 14%;
    vertical-align: top;
    @include font-size(0.6rem);
    text-align: center;
  }

  a.calendar-day{
    font-weight: bold;
  }
}

.month-switcher{
  text-align: center;
}
