hr.calendar{ width: 90%;}

.calendar {
  border-collapse: collapse;
  width: 90%;

  td, th {
    @include font-size(0.6rem);
    @include border(1px solid #999);
    font-family: "Lucida Grande", arial, helvetica, sans-serif;
    padding: 6px;
  }

  th {
    background: #DDD;
    color: #666;
    text-align: center;
    width: 14%;
  }

  td {
    background: #FFF;
    color: #777;
    height: 14%;
    vertical-align: top;
    @include font-size(0.6rem);
    text-align: center;
  }

  a.calendar-day{
    font-weight: bold;
    color: #555;
  }
  .notmonth, .notmonth a { color: #CCC; }
  .today { background-color: #D7F2FF; }
}

header.date{
  margin: 10px 0;
  line-height: 40px;
  @include font-size(1.5rem);
  font-weight: 200;
  color: #888888;
  position: relative;

  .today{
    color: $dunzoBlue;
  }

  .next-day{
    float: right;
  }

  .month-switcher{
    float: right; 
    margin-right: 10%;
  }
}

input.date-select{
  position: absolute;
  right: 4%;
  width: 15%;
  bottom: 12%;
  margin-bottom: 0px;
  padding: 5px 12px;
  @include border(1px solid #c3c3c3);
  @include border-radius(2px);
  @include font-size(0.8rem);
  font-weight: bold;
  color: #979797;
}
