@import "bootstrap/variables";
@import "bootstrap/mixins";

.calendar {
  border-collapse: collapse;
  width: 100%;

  td, th {
    @include font-size(0.6rem);
    font-family: "Lucida Grande", arial, helvetica, sans-serif;
    padding: 6px;
  }

  th {
    color: #666;
    text-align: center;
    width: 14%;
  }

  td {
    height: 14%;
    vertical-align: top;
    @include font-size(0.6rem);
    text-align: center;
  }

  a.calendar-day{
    font-weight: bold;
  }
  .notmonth, .notmonth a { color: #CCC; }
  .today { background-color: #fff; }
}

header.date{
  margin: 10px 0;
  line-height: 40px;
  @include font-size(1.5rem);
  font-weight: 200;
  position: relative;

  .today{
  }

  .next-day{
    float: right;
  }

}

input.date-select{
  position: absolute;
  right: 15%;
  width: 15%;
  bottom: 18%;
  margin-bottom: 0px;
  padding: 5px 12px;
  @include border(1px solid #c3c3c3);
  @include border-radius(2px);
  @include font-size(0.8rem);
  font-weight: bold;
}
