// Place all the styles related to the categories controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


.category-form form, form.new_task{
  margin: 0px;

  input{
    margin: 10px 0;
    width: 95%;
  }
}

.current {
  background:#25BC99;
  color:#FFF;
}

.category-options{
  min-width: 100px;

  .delete{
    display: inline;
    padding: 0 10px 0 0;
  }

  a{
    padding: 0 10px;
  }
}

// styles for re-rendered
// categories in sidebar
#category-list {
  li{
    padding: 6px;

    a {
      color: #ddd;
      text-shadow: none;
      padding: .5em 1em;
      margin-left: -15px;
      margin-right: -15px;
    }
  }
}
