// Place all the styles related to the categories controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


.category-form form, form.new_task{
  margin: 0px;

  input{
    margin: 10px 0;
    width: 95%;
  }
}

ul#dashboard-menu {
  li {
    display: block;
    color: #ddd;
  }
}

.current {
  background:#25BC99;
  color:#FFF;
}
