// Place all the styles related to the home controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

@import "bootstrap.min";

#homeimage { 
    background:image-url('headerbg.jpg') center top no-repeat #000;
	height:500px;
}
#wrapper {
	margin: 0 auto;
	width:1200px;
}
body.home {
	background:#e6eaed;
}
.home h1 { 
	font-size:33px;
	font-weight:normal;
} 
.home h2 {
	font-size:17px;
	font-weight:normal;
	line-height:21px;
	margin-bottom:40px;
}
.home p {
	margin-bottom:25px;
}
.intro .btn {
	background:#1b9377;
	border-radius:5px;
	border:3px solid #1b9377;
	box-shadow:none;
	color:#FFF;
	letter-spacing:1px;
	margin-right:10px;
	padding:12px 20px;
	text-transform:uppercase;
}
.intro .btn:hover { 
	background:#25bc99;
	border-color:#25bc99;
}
.intro .btn.outline { 
	background:transparent;
	border:3px solid #666;
	padding:12px 40px;
}
.intro .btn.outline:hover {
	border-color:#999;
}
header { 
	color:#FFF;
	height:425px;
	margin-top:-300px;
	position:relative;
}
.intro { 
	width:420px;
}
#computer {
	background:image-url('computer.png') no-repeat transparent;
	height:532px;
	position:absolute;
	right:-50px;
	top:-155px;
	width:894px
}
#features ul { 
	list-style:none;
	margin:0;
	padding:0 50px;
}
#features li {
	color:#4b494f;
	float:left;
	margin:0 38px 20px;
	text-align:center;
	width:290px;
}
#features h3 {
	font-size:15px;
	letter-spacing:1px;
	line-height:25px;
	text-transform:uppercase;
}
#features img { 
	margin-bottom:5px;
}
#footer { 
	border-top:1px solid #CCC; 
	clear:both;
	padding:20px 0 0;
}
#footer p { 
	color:#959595;
	font-size:12px;
}