// Place all the styles related to the home controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

@import "bootstrap.min";

.request-invitation{
  font-style: Helvetica, Arial, sans-serif;
  font-weight: 100;
  color: #444;
  text-align:left;
}

.request-body{
  color: #333;
}

.modal{
  top: 25%;
}
