.content {
  background:#E5E9EC;
  border:0;
  margin-top:0;
}

.header { 
  background:#FFF;
  border:0;
}

.well{
  border:0;
  border-radius:0;
  box-shadow:none;

  h5 {
    margin-top:0;
  }
}

.btn {
  text-shadow:none;
}

.options {
  color:#CCC;
  padding-right:11px;
  padding-left:10px;

  &:hover{
    color:#999;
  }
}

a.delete-task{
  i{
    margin-top: 3px;
  }

  .icon-remove{
    color:#CCC;

    &:hover{
      color:#999;
    }
  }
}

form.edit_task{
  margin: 0px;
  border-bottom: 1px solid #ddd;
  /*padding: 10px 15px;*/
  padding:10px;

  &:hover{
    background:#F5F5F5;
  }

  span{ /* task text */
    padding-left: 10px;
  }
  input{
    vertical-align: baseline;
    display: none;
  }

  label{
    display: inline;
    margin-left: 1.5%;
  }

  input[type="checkbox"]+label{
    background:image-url('check-sprite.png') left top no-repeat;
    background-position:0 2px;
    position:relative;
    margin:0;
    padding: 3px 0 3px 50px;
    cursor:pointer;
    display:inline-block;
    z-index:0;
  }
  input[type='checkbox']:checked+label{
    background:image-url('check-sprite.png') left top no-repeat;
    background-position:0 bottom;
  }
  .move{
    cursor: pointer;
    color:#CCC;
    margin-right:5px;
    padding-left:10px;
    padding-right:10px;

    &:hover{
      color:#999;
    }
  }

}

form.new_task{
  color:#FFF;
  margin:0 0 10px;

  input{
    border-radius:2px;
    margin: 6px 0;
  }
}

.complete{
  color: #999999;
  background:none;
  cursor: default;
}

