= content_tag_for(:li, category) do
  = link_to username_category_path(@user, category.category_uid, date: params[:date]), class: 'inline' do
    = category.name
    - if category.destroyable?
      = link_to category_path(category), remote: true, method: :delete, confirm: category_confirm do
        %i.icon-trash.delete.inline
