%footer
  %hr/
  %p.pull-right
    %a{:href => "http://www.fb.com/dunzoapp", :target => "_blank"} Facebook
    |
    %a{:href => "http://www.twitter.com/dunzoapp", :target => "_blank"} Twitter
  %p
    \© 2013
    %a{:href => "http://www.dunzoapp.com", :target => "_blank"} Dunzo App
